* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.wrapper {
  max-width: 1000px;
  margin: 20px auto;
}

.table-caption {
  font-size: 18px;
  font-weight: 500;
}

.table {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 10px auto;
  padding: 5px;
  background-color: #f2f5f9;
  border-top: 1px solid #d9e1ec;
  border-bottom: 1px solid #d9e1ec;
}

.table-row {
  display: flex;
  flex-direction: row;
  padding: 10px;
  border-bottom: 1px solid #feba02;
}

.table-row:last-child {
  border-bottom: none;
}
.desc {
  flex: 0 0 150px;
  padding: 0 10px;
  color: #1576c0;
  font-size: 14px;
}

.content {
  flex: 1 1 auto;
  padding: 0 10px;
  font-size: 12px;
  line-height: 1.2em;
}

.content-list {
  list-style: none;
}

.list-item {
  margin-bottom: 10px;
}

.list-item--important {
  background-color: rgb(15, 146, 15);
  color: #FFF;
  padding: 5px;
  border: 1px solid rgb(3, 71, 3);
}

.link {
  color: #0896ff;
  font-weight: 500;
}

.to-top {
  text-align: right;
}

.to-top::before {
  content: "\25B2";
  color: #0896ff;
}

