body {
    margin: 20px;
}

h1{
    text-align: center;
    font-family: Helvetica, sans-serif;
    color: #3014b4;
    font-size: 18pt;
    text-shadow: 1px 1px 0px #fff,3px 3px 0px #d3d7dc;
 }
 #first {
     color: green;
 }
 ul{
    margin-left: 50px;
 }
 li{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 12pt;
    font-style: italic;
    color: #3212af;
 }
 .red{
    text-align: center;
    font-family: 'comic sans ms';
    font-size: 16pt;
    color: red;
    text-shadow: 1px 1px 0px #fff, 3px 3px 0px #d3d7dc;
 }
 p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12pt;
 }